<div class="container login-container">
	<div class="row" style="display: flex;align-items: center;justify-content: center;">
		<div class="col-md-8 login-form-2">
			<h3>Forgot Password</h3>
			<form [formGroup]="forgotPassword">
				<div class="form-group">
					<input type="text" formControlName="email" maxlength="100" class="form-control" placeholder="Your Email *" value="" />
				</div>
				<div class="form-group">
					<input type="submit" (click)= "resetPassword()" class="btnSubmit" value="Reset Password" />
				</div>
			</form>
		</div>
</div>